:root {
    --speed: 5;
    --timing: linear;
    --animation: infinite;
  }
   
  html {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: 
      linear-gradient(rgb(111, 30, 101) 40%, rgb(30, 8, 24) 0);
    perspective: 500px;
    cursor: url('annie.svg'), auto;
  }
    
  html::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150vw;
    height: 150vh;
    transform-origin: bottom center;
    transform: translate(-50%, 0) rotate3d(1, 0, 0, 60deg);
    background-color: rgb(77, 148, 105);
    box-shadow: 0 0 30vmin rgba(136, 255, 215, 0.8);
    animation: moveRoad calc(var(--speed) * 0.0175s) linear var(--animation);
  }
  
  html::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    background: skyblue;
    background-image: url(cookiemonster.jpg); 
    background-size: 
      100% 100%;
    background-position:
      0 0;
    background-repeat: no-repeat;
  }
  
  @keyframes moveObstacles {
    0% { transform: translate(-50%, 0) rotate3d(1, 0, 0, 60deg) translate(0, -20%); }
    100% { transform: translate(-50%, 0) rotate3d(1, 0, 0, 60deg) translate(0, 100%); }
  }
  
  body {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 150vw; 
    height: 800vh;
    margin: 0;
    padding: 0;
    border: 0;
    transform-origin: bottom center;
    transform: translate(-50%, 0) rotate3d(1, 0, 0, 60deg);
    animation: moveObstacles calc(var(--speed) * 1s) var(--timing) var(--animation);
    animation-fill-mode: forwards;
    clip-path: polygon(
      50% 100%, 50% 95%, 0% 95%,
      0% 80%, 50% 80%, 50% 75%, 0% 75%,
      0% 60%, 50% 60%, 50% 55%, 0% 55%,
      0% 40%, 50% 40%, 50% 35%, 0% 35%,
      0% 20%, 50% 20%, 50% 15%, 0% 15%,
      0% 0%, -100% 0%, -100% -100%, 
      500% -500%, 500% 0%, 100% 0%, 
      100% 5%, 48% 5%, 48% 10%, 100% 10%,
      100% 25%, 47% 25%, 47% 30%, 100% 30%,
      100% 45%, 47% 45%, 47% 50%, 100% 50%,
      100% 65%, 47% 65%, 47% 70%, 100% 70%,
      100% 85%, 47% 85%, 47% 90%, 100% 90%,
      100% 100%, 100% -100%, -100% -100%, 0 100%
    );
    background-image: url(jax.jpg);
    background-size: 50vw 50vh;
    background-position: 0 0;
  }
  
  body:hover {
    transform: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: none;
    animation: none;
    background: none;
  }
  
  body::after {
    content: "ANNIE GOT COOKIED \a Move the mouse \a outside of the window \a to restart the game";
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222e;
    font-family: Roboto, Arial, sans-serif;
    font-size: 7.5vmin;
    color: white;
    text-shadow: 3px 3px black;
    white-space: pre;
    box-sizing: border-box;
    padding: 10vmin;
    text-align: center;
  }
  
  body:hover::after {
    display: flex;
  }
  